<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>image</key>
	<string>playpad_gray.png</string>
	<key>image_highlight</key>
	<string>playpad_blue.png</string>
	<key>buttons</key>
	<array>
		<dict>
			<key>id</key>
			<string>Esc</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[ESC]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Up</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[UP]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Stop</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>14</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>87</integer>
			<key>action</key>
			<string>[x]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Left</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[LEFT]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Enter</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[ENTER]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Right</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>101</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>85</integer>
			<key>action</key>
			<string>[RIGHT]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Skip Back</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[BRACKET_L]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Down</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[DOWN]</string>
			<key>repeat</key>
			<true/>
		</dict>
		<dict>
			<key>id</key>
			<string>Skip Forward</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>186</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>86</integer>
			<key>action</key>
			<string>[BRACKET_R]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Rewind</string>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[r]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Play/Pause</string>
			<key>x</key>
			<integer>110</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[SPACE]</string>
		</dict>
		<dict>
			<key>id</key>
			<string>Fast Forward</string>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>284</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>67</integer>
			<key>action</key>
			<string>[f]</string>
		</dict>
	</array>
</dict>
</plist>
