<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appname</key>
	<string>Boxee</string>
	<key>auto_pause</key>
	<string>[SPACE]</string>
	<key>auto_resume</key>
	<string>[SPACE]</string>
	<key>initial_tab</key>
	<integer>2</integer>
	<key>buttons</key>
	<array>
		<dict>
			<key>action</key>
			<string>[BOXEE]</string>
			<key>image</key>
			<string>boxee.png</string>
			<key>text</key>
			<string>Gesture</string>
		</dict>
		<dict>
			<key>action</key>
			<string>[OVERLAY:arrowpad]</string>
			<key>image</key>
			<string>arrowpad.png</string>
			<key>text</key>
			<string>ArrowPad</string>
		</dict>
		<dict>
			<key>action</key>
			<string>[OVERLAY:playpad]</string>
			<key>image</key>
			<string>playpad.png</string>
			<key>text</key>
			<string>PlayPad</string>
		</dict>
		<dict>
			<key>action</key>
			<string>[MACROS]</string>
			<key>image</key>
			<string>actions.png</string>
			<key>text</key>
			<string>Macros</string>
		</dict>
	</array>
</dict>
</plist>
